{% extends 'base.html' %}
{% block content %}
<h1 class="display-2 text-center">Favorites</h1>

<div class="favorites-list container">
   
    <div class="favorite-artwork">
        <div class="row">
        {% for artwork in favorites %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top img-fluid img-fixed-height" src="{{ artwork.image_url }}" alt="{{ artwork.title }}">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{ artwork.title }}</h4>
                        <p class="card-text text-center">{{ artwork.date_start }} - {{artwork.date_end}}</p>
                        <p class="card-text text-center"></p>
                        <p class="card-text text-center">{{ artwork.artist_title }}</p>
                        <form method="post" class="un-favorite-form text-end">
                            <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                            <input type="hidden" name="action" value="not_favorite">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                        </form>
                    </div>
            </div>
        </div>
            {% if loop.index %3 == 0 and not loop.last %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
    </div>
</div>
{% endblock %}
