<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://kit.fontawesome.com/70f2a030ec.js" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        {% if not g.user %}
        <a href="/" class="navbar-brand">
          <span>AIC Discovery</span>
        </a>
      </div>
        <div class="navbar-collapse">
          <a class="navbar-form" href="/signup">Sign up</a>
          <a class="navbar-form" href="/login">Log in</a>
        </div>
        {% else %}
        <a href="/users/profile" class="navbar-brand">
          <span>{{ user.full_name }}</span>
        </a>
      </div>
        <div class="navbar-collapse">
          <a class="navbar-form" href="/users/profile/edit">Edit Profile</a>
          <a class="navbar-form" href="/users/favorites">Favorites</a>
          <a class="navbar-form" href="/users/surprise">Suprise Me!</a>
          <a class="navbar-form" href="/logout">Log out</a>
        </div>
        {% endif %}
    </div>
  </nav>
      <div class="container">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</body>

</html>