{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-2 font-weight-bold">Welcome to AIC Discovery</h1>
            <p>This app allows you to explore the Art Institute Collection. Sign up and enjoy!</p>
            <img src="{{ url_for('static', filename='images/Sunday.png') }}" class="img-fluid my-3" alt="A Sunday on La Grande Jatte">
            
        </div>
    </div>
    
</div>
{% endblock %}
