{% extends 'base.html' %}
{% block content %}
<h1>Favorites</h1>

<div class="favorites-list">
    {% for artwork in favorites %}
    <div class="favorite-artwork">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ artwork.image_url }}" alt="{{ artwork.title }}">
                <div class="card-body">
                    <h4 class="card-title">{{ artwork.title }}</h4>
                    <p class="card-text">{{ artwork.artist_title }}</p>
                    <form action="/users/favorites/{{ artwork.id }}" method="post">
                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-thumbs-up"></i> Like</button>
                    </form>
                    <a href="/users/add_dislike" class="btn btn-danger"><i class="fa-regular fa-thumbs-down"></i> Dislike</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
