{% extends 'base.html' %}

{% block body_class %}profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-start">
        <!-- Sidebar with Artwork Details -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ selected_artwork.title }}</h5>
                    <p class="card-text">Artist: {{ selected_artwork.artist_title }}</p>
                    <p class="card-text">Date: {{ selected_artwork.date_display }}</p>
                    <p class="card-text">Medium: {{ selected_artwork.medium_display }}</p>
                    <p class="card-text">Dimensions: {{ selected_artwork.dimensions }}</p>
                    <p class="card-text">Biography: {{ selected_artwork.artist_display }}</p>

                </div>
            </div>
        </div>
        <!-- Artwork Image -->
        <div class="col-md-6">
            <img src="{{ selected_artwork.image_url }}" class="img-fluid" alt="Artwork image">
        </div>
        <!-- Column for buttons -->
        <div class="col-md-3 d-flex flex-column justify-content-start">
            <form action="/users/favorites/{{ selected_artwork.id }}" method="post">
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-success"><i class="fa-regular fa-thumbs-up"></i> Like</button>
                <a href="/users/not_favorites/{{selected_artwork.id}}" class="btn btn-danger"><i class="fa-regular fa-thumbs-down"></i> Dislike</a>
            </form>
            
        </div>
    </div>
</div>


{% endblock %}


