{% extends 'base.html' %}

{% block body_class %}profile{% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <div class="container">
        <div class="artwork">
        <h3>{{ artworks.title }}</h3>
        <p>Artist: {{ artworks.artist_name }}</p>
        <p>Date: {{artworks.date_display}}</p>
        <p>Medium: {{artworks.medium_display}}</p>
        <p>Artist Biography: {{artworks.artist_display}}</p>
        <p>Dimensions: {{artworks.dimensions}}</p>
        <img src="{{ artworks.image_url }}" alt="Artwork image">
    </div>
    </div>
    </div>

{% endblock %}