{% extends 'base.html' %}


{% block title %}surprise{% endblock %}

{% block content %}

<h2 class="display-1 text-center">Artwork from the {{ century }}</h2>
<p class="text-center">The purpose of this section is to introduce you to artwork from other centuries.</p>
{% if artwork %}
<div class="container mt-5">
    <div class="row align-items-start">
        <!-- Sidebar with Artwork Details -->
      
        <div class="col-md-3">
            <div class="card surprise-artwork-card">
                <div class="card-body" id="{{artwork.id}}">
                    <h5 class="card-title">{{ artwork.title }}</h5>
                    <p class="card-text">Artist: {{ artwork.artist_title }}</p>
                    <p class="card-text">Date: {{ artwork.date_start }} - {{ artwork.date_end }}</p>
                    <p class="card-text">Medium: {{ artwork.medium_display }}</p>
                    <p class="card-text">Dimensions: {{ artwork.dimensions }}</p>
                    
                    {% if artwork.artist_display == None %}
                    <p class="card-text"></p>
                    {% else %}
                    <p class="card-text">Biography: {{ artwork.artist_display }}</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- Artwork Image -->
        <div class="col-md-6">
            <img src="{{ artwork.image_url }}" class="img-fluid" alt="Artwork image">
        </div>
        <!-- Column for buttons -->
        <div class="col-md-3 d-flex align-items-top flex-row justify-content-around">
            <form method="post" class="favorite-form">
                <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                <input type="hidden" name="action" value="favorite">
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-success"><i class="fa-regular fa-thumbs-up"></i> Like</button>
            </form>
            <form method="post" class="un-favorite-form">
                <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                <input type="hidden" name="action" value="not_favorite">
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-danger"><i class="fa-regular fa-thumbs-down"></i> Dislike</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


